<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}?v={{ site.time | date: '%s' }}">
</head>
<body>
  <header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <nav>
  <a href="{{ '/people/'   | relative_url }}">People</a> ·
  <a href="{{ '/seminars/' | relative_url }}">Seminars</a> ·
  <a href="{{ '/events/'   | relative_url }}">Events</a>
    </nav>
    <hr/>
  </header>
  <main>
    {{ content }}
  </main>
  <footer><hr/></footer>
</body>
</html>
