<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
    <h1><a href="/">{{ site.title }}</a></h1>
    <nav>
      <a href="/people/">People</a> ·
      <a href="/seminars/">Seminars</a> ·
      <a href="/events/">Events</a>
    </nav>
    <hr/>
  </header>
  <main>
    {{ content }}
  </main>
  <footer><hr/><small>&copy; {{ "now" | date: "%Y" }}</small></footer>
</body>
</html>
