<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}?v={{ site.time | date: '%s' }}">
</head>
<body>
<header>
  <div class="header-row">
    <div class="brand-left">
      <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      <nav>
        <a href="{{ '/people/'   | relative_url }}">People</a> ·
        <a href="{{ '/seminars/' | relative_url }}">Seminars</a> ·
        <a href="{{ '/events/'   | relative_url }}">Events</a>
      </nav>
    </div>
    <div class="brand-logos">
      <!-- 如需可点击，给 <img> 外面包 <a href="..."> -->
      <a href="https://scms.fudan.edu.cn/"><img src="{{ '/assets/logo1.jpg'  | relative_url }}"  alt="Logo 1"></a>
      <a href="https://math.fudan.edu.cn/main.htm"><img src="{{ '/assets/logo2.jpg' | relative_url }}"  alt="Logo 2"></a>
    </div>
  </div>
  <hr/>
</header>
  <main>
    {{ content }}
  </main>
  <footer><hr/></footer>
</body>
</html>
